* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgba(41, 38, 55, 0.836);
    --text-color: rgb(209, 205, 219);
    --bg-color: rgb(255, 255, 255);
    --color: rgba(238, 173, 32, 0.897);
    --font: system-ui, "segoe ui", sans-serif;
}

body {
    font-family: system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 12;

}

#hero-container {

}
.slider-img {
    width: 100%;
}
.slider-img img {
    width: 100%;
}

#cta-btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.25rem;
    font-weight: 700;
    font-size: large;
    background-color: var(--primary-color);
    color: var(--text-color);
    transition: all .5s ease;
    /* height:  */
}

#cta-btn > svg {
    display: inline-block;
    width: 1.25rem;

}


#cta-btn > span:hover {
    margin-right: .25rem;
    text-decoration: underline;
   
}

#mobile-menu-icon {
    /* display: ; */
}

#mobile-menu-icon > svg {
    width: 100%;
}

main {
    display: grid;
    background-color: var(--bg-color);

}



footer {
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
}

