* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgba(41, 38, 55, 0.836);
    --text-color: rgb(209, 205, 219);
    --bg-color: rgb(255, 255, 255);
    --color: rgba(238, 173, 32, 0.897);
    --font: system-ui, "segoe ui", sans-serif;
}

body {
    font-family: system-ui, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    min-height: 100vh;
}

header {
    display: grid;
    grid-template-columns: 12;

}


main {
    display: grid;
    background-color: var(--bg-color);

}



footer {
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
}

