@font-face {
    font-family: 'MyCustomFont';
    src: url('/SideCodeTeam/team-pages/Quaigraine/fonts/Rift/Fort%20Foundry%20-%20Rift-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/SideCodeTeam/team-pages/Quaigraine/fonts/Rift/Fort%20Foundry%20-%20Rift-Light.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/SideCodeTeam/team-pages/Quaigraine/fonts/Rift/Fort%20Foundry%20-%20Rift-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('/SideCodeTeam/team-pages/Quaigraine/fonts/Rift/Fort%20Foundry%20-%20Rift-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


 

body {
    background-color: white;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/slide-1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    

}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
}


.nav_links {
    flex: 1;
    text-align: right;

}

.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative; 
    margin-left: 60px;
    
}
.nav_links ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 450;
}

.nav_links ul li ::after{
    content: '';
    width: 0;
    height: 2px;
    background: #014152;
    display: block;
    margin: auto;
    transition:0.5s;

}
.nav_links ul li:hover ::after{
    width: 100%;
    align-items: center;
}

.navigation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    margin-right: 250px;

}

.navigation button {
    border: none;
    color: #014152;
    padding: 10px;
    cursor: pointer;
    height: 5em;
    width: 8em;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #014152;
    color: white;
}

.textbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 600px;
    height: 70vh;
    flex-direction:column;
    text-transform: lowercase;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.textbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 600px;
    height: 70vh;
    flex-direction:column;
    text-transform: lowercase;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}


.textbox h1 {
    font-size: 4em;
    color: #014152 ;
    margin-bottom: 0.5em;
    
}

.learn-more {
    display: flex;
    padding: 10px 20px;
    color: #014152 ;
    background-color: white; /* Blue button */
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 400px;
    transition: 0,5s;
}

.learn-more:hover {
    background-color: #014152; 
    color: white;
}

.learn-more span{
    margin-left: 25px;
    font-size: larger;

}



.section-title{
    text-align: center;
    font-weight: bold;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.custom-line {
    border: none; 
    height: 1px; 
    background-color: black; 
    width: 1.2cm; 
    margin: 20px auto; 
    }
    
    .icon-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        padding: 100px 80px;
        gap: 80px;
        max-width: 1200px;
        margin: 0 auto;
        
        
        
    }

    
    .icon-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        text-align: left;
        
    }
    
    .icon-box img {
        width: 120px;
        height: 120px;
    }
    
    .icon-box p {
        margin-top: 10px;
        font-size: 24px;
        color: #014152;
        font-weight: normal;
    }

    .footer1{
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        background-color: #014152;
        padding: 30px;
    }



    .textbox.slide-2 {
        margin-left: 900px;
    }


   @media screen and (min-width:1190px){
    .navigation-icon{
        display: none;
    }
   }
  
  @media screen and (max-width: 1190px){
    .navigation-icon{
        display: none;
    }
    .learn-more{
        display: flex;
        
        width: 80px;
        flex-wrap: nowrap;
        padding: 10px 20px;
        font-size: 14px;
        margin-left: 90px;
    }
    .textbox h1{
        font-size: 3em;
    }
    .learn-more{
        margin-left: 100px;
    }
    .navigation{
        margin-right: 90px;
    }
  }

  @media screen and (max-width:1060px){
    .navigation-icon{
        display: none;
    }
    .textbox h1{
        font-size: 2.5em;
    }
    .learn-more{
        margin-left: 160px;
    }
    .navigation{
        margin-right: 70px;
    }
  }
  @media screen and (max-width:1000px){
    .navigation-icon{
        display: none;
    }
    .textbox{
       margin-left: 390px;
    }

    .textbox h1{
        font-size: 2.2em;
    }

    .learn-more{
        margin-left: 200px;
    }
  }

  @media screen and (max-width:968px){
    
    .textbox{
        margin-left: 400px;
    }
    .textbox h1{
        font-size: 2.3em;
    }
    .learn-more{
        margin-left: 190px;
    }
  }

  @media screen and (max-width:910px){
    body{
        margin-top: 0;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        background-color: #014152;
        overflow: hidden;
        pointer-events: none;
    }

    .logo-image{
        margin-right: 650px;
    }
    .nav_links{
        display: none;
        cursor: not-allowed;
        
    }
    .textbox{
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }


    
    .icon-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }
}